:root {
    --nav-height: 60px;
}
* {box-sizing: border-box;}

body, input, button, textarea, select{
    font-family: 'Montserrat', sans-serif
}

#inicio, #productos, #contacto{
    height: 100vh;
    padding-top: var(--nav-height);
}

nav {
    top: 0;
    position: fixed;
    height: var(--nav-height);
    width: 100vw;
}

.bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 99;
}

.banda{
    height: 32px;
    background-color: #522409;
}

.layout-barra{
    position: relative;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
}

.marca-barra{
    display: flex;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 10px;
}

.marca-barra a{
    display: inline-block;
}

.marca-barra img {
    display: block;
    width: 150px;
    height: 85px;
}

.botones-menu{
    display: flex;
    justify-content: center;
    column-gap: 8px;
    padding-bottom: 24px;
}

.boton{
    display: flex;
    align-items: center;
    color: #522409;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    text-transform: uppercase
}
.separador{
    width: 1px;
    height: 18px;
    background-color: #522409;
}
