root {
    --nav-height: 60px;
}
* {box-sizing: border-box;}

#inicio, #productos, #contacto{
    height: 100 vh;
    padding-top: var(--nav-height);
}

nav {
    top: 0;
    position: fixed;
    height: var(--nav-height);
    width: 100vw;
}

bar-brand img{
    display:block;
    width: 200px;
    height: 64px;
    transition: 0,35s;
}