:root {
    --nav-height: 60px;
}
* {box-sizing: border-box;}

#inicio, #productos, #contacto{
    height: 100vh;
    padding-top: var(--nav-height);
}

nav {
    top: 0;
    position: fixed;
    height: var(--nav-height);
    width: 100vw;
}

.bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 99;
}

.banda{
    height: 32px;
    background-color: #522409;
}

.layout-barra{
    position: relative;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
}

.marca-barra{
    display: flex;
    justify-content: center;
    padding-top: 36px;
    padding-bottom: 28px;
}

.marca-barra a{
    display: inline-block;
}

.marca-barra img {
    display: block;
    width: 200px;
    heigth: 64px;
}
